.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

.card {
  display: flex;
  background-color: var(--color-bkg-canvas);
  border-radius: 15px;
  flex-flow: column wrap;
  text-align: left;
  gap: 1rem;
  padding: 10px;
  margin: 0 10px;
  width: 40%;
  min-width: 200px;
}

.container {
  background-color: var(--color-bkg-container);
  margin: 10px 0 20px 0;
  padding: 10px 0 20px 0;
  border: 1px solid var (--color-border-default);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.verticalFlex {
  flex-direction: column;
}

.fullViewHeight {
  height: 85vh;
}

.image {
  width: auto;
  height: 35vmax;
  min-height: 90px;
}

.title {
  font-size: calc(var(--text-size-default) + 1vmin);
  font-weight: bold;
}

.section {
  display: block;
  width: 65%;
}

.subcard {
  display: block;
  position: relative;
}

.subsection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin: 10px 0;
}

.info {
  width: 100%;
  text-align: left;
  padding-left: 5px;
}

.line {
  height: 3px;
  width: 100%;
  border-radius: 1px;
  background-color: var(--color-txt-default);
  margin-top: 20px;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
}

.btn {
  display: block;
  width: max-content;
  height: 100%;
  border-radius: calc(5vmin + 10px);
  font-size: var(--text-size-default);
  background-color: var(--color-bkg-btn);
  color: var(--color-text-default);
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

.btnLink {
  display: inline-block;
}

.btnLink a {
  text-decoration: none;
  color: inherit;
}

.btnLink a:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: var(--color-obj-hover);
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition: transform 0.45s;
}

.btnLink a:hover:after {
  transform: scaleX(1);
}

.btnLink:hover,
.btnLink:focus {
  font-weight: lighter;
}

.detail {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.subDetail {
  width: 70%;
  text-align: right;
}

.positive {
  color: #00c22b;
}

.negative {
  color: #f00c0c;
}

.positiveBkg {
  background-color: hsla(133, 100%, 38%, 0.5);
}
