h2 {
  margin-left: 0.5vw;
}

.container {
  background-color: var(--color-bkg-container);
  margin: 10px 0 20px 0;
  padding: 10px 0 20px 0;
  border: 1px solid var(--color-border-default);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  padding: 10px;
  width: 100%;
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  gap: 5rem;
  margin: 20px;
}

.settings {
  display: grid;
  grid-template-columns: [first] 20vw [second] 1vw [third] 1fr [fourth] 10vw;
  grid-gap: 10px;
  width: 70%;
}

.settings label {
  grid-column-start: first;
  grid-column-end: second;
}

.settings p {
  width: 5px;
  grid-column-start: second;
  grid-column-end: third;
}

.settings input {
  height: 5vh;
  border-radius: 5px;
  padding-left: 5px;
  grid-column-start: third;
  grid-column-end: end;
  font-size: var(--text-size-default);
}

.settings button {
  height: 5vh;
  grid-column-start: fourth;
  grid-column-end: end;
  background-color: var(--color-bkg-btn);
  border-radius: 10px;
  color: var(--color-txt-default);
}

.imageIcon {
  width: auto;
  height: 10vmin;
  min-height: 200px;
}

.imgContainer {
  display: block;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.profile button {
  background-color: var(--color-bkg-container);
  color: var(--color-txt-default);
  border: none;
  font-size: small;
}

.profile button:hover {
  font-weight: bold;
  cursor: pointer;
}

.profile button:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: var(--color-obj-hover);
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition: transform 0.45s;
}

.profile button:hover:after {
  transform: scaleX(1);
}

.avatarEditor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
