.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 1rem;
  background-color: var(--color-bkg-container);
  border: 1px solid var(--color-border-default);
  border-radius: 10px;
  padding: 10px 10px 50px 10px;
  margin: 20px;
  width: 40%;
  min-width: 280px;
}

.form input {
  height: 5vh;
  border-radius: 5px;
  padding-left: 5px;
  font-size: var(--text-size-default);
}

.group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--text-size-default);
  height: max-content;
}

.groupCenter {
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: calc(var(--text-size-default) + 2vmin);
}

.btn {
  display: block;
  background-color: var(--color-bkg-btn);
  color: inherit;
  height: 5vh;
  border: 1px solid var(--color-border-default);
  border-radius: 10px;
  margin-top: 5px;
  font-size: calc(var(--text-size-default) + 0.5vmin);
}

.btnLink {
  color: var(--color-txt-default);
  text-align: center;
}

.errors {
  font-style: italic;
}
